h1{
    font-size: 175%;
    font-family: "Courier New";
    font-weight: 900;
    margin-top: 20px;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.container{
    height: 400px;
    width: 1280px;
    margin: 20px;
    margin-left: 90px;
    /*background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .box{
    position: relative;
    top: 50px;
    height: 250px;
    width: 400px;
    margin: 10px;
    background-color: gray;
    border: 2px solid black;
}

.container .box .main{
    height: 35px;
    width: 120px;
    margin-left: 275.5px;
    margin-top: -19.5px;
    border-top: 0px;
    /*border-right: 1.5px solid black;*/
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
}
.container> .box > .recipe p{
    position: absolute;
    /*margin: 10px;*/
    text-align: center;
    margin-top: 55px;
    font-size: 5mm;
    font-weight: 600;
    margin-top: 60px;
    font-family: "Courier New";
    padding: 10px;

}

.container .box .main .content{
    margin: 10px;
}

.container .box .main .content h2{
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

@media (min-width:768px) and (max-width:991px){
    h1{
        font-style: italic;
        text-align: center;
    }
    .container{
        width: 900px;
    }
    .container #last{
        width: 820px;
        height: 180px;
    }
    .container #last .main{
        margin-left: 696.7px;
    }

}

@media only screen and (max-width: 767px) {
    h1{
        font-style: italic;
        text-align: center;
    }
    .container{
        width: 700px;
    }
}

#chicken{
    background-color: rgba(222, 49, 128, 0.5);
}

#beef{
    background-color: rgba(255, 0, 0, 0.5);
}

#sushi{
    background-color: rgba(255, 255, 0, 0.5);
}

